#canvasContainer {
   /* position: relative; */
  /*top: 7vh;
  left: 50%;
  transform: translateX(-50%); */
  margin-top: 20px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100vh;
    overflow-y: auto;
}

#buttonContainer {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  position: sticky;
  top: 0;
  z-index: 1001;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown button {
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  /* min-width: 160px; */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  background-color: grey;
}

#canvasDiv {
  position: relative;
    top: 0;
    z-index: 1000;
    align-items: center;
    overflow-y: auto;
}

canvas {
  border: 1px solid gray;
  background: #FFFFE0;
  box-shadow: inset 2px 2px 1px rgba(0, 0, 0, 0.2);
  align-items: center;
  /* width: 300px;
  height: 300px; */
}

.select-mcq {
  /* text-align: center; */
  margin-top: 30px;
  color: white;
}

label {
  font-weight: bold;
  display: block;
  margin-top: 2px;
}

.mcq-options input[type="checkbox"] {
  margin-right: 10px;
  float: left;
  margin-top: 5px;
}

#controls{
float: left;
  margin-left: 10px;
    background-color: rgba(0,0,0,0.1);
    width: 15%;
    /* text-align: center; */
}

.listingButton{
width: 160px;
height: 30px;
border: 1px solid gray;
box-shadow: inset 2px 2px 1px rgba(0,0,0,0.2);
text-shadow: 1px 1px 1px black;
opacity:0.8;
border-radius: 5px;
font-size: 15px;
background: khaki;
margin-top: 3px;
margin-bottom: 3px;
}

.listingButton:hover{
opacity: 1;
width:161px;
height:31px;
cursor: pointer;
}

.closeButtonOptions{
float: right;
height: 20px;
width: 20px;
font-size: 18px;
border: 1px solid black;
background: wheat;
opacity: 0.5;
line-height: 20px;
}

.closeButtonOptions:hover{
opacity: 0.9;
height: 22px;
width: 22px;
}



.lightBorder {
    border: 2px solid white;
    margin-top: 5px;
    margin-bottom: 5px;
    overflow: hidden;
    visibility: hidden;
    height: 0px;
    min-width: 75px;
    background: #FFFFE0;
    opacity: 0.9;
}

p{
    margin: 4px;
}

#clearCanvas {
    margin-top: 5px;
}
